.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    .logoContainer {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 100vw;
        height: 60px;
        .logo {
            display: inline-flex;
            width: 50px;
            height: 50px;
        }
    }

    .headingContainer {
        margin: 6rem auto;
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 50vh;
        .title {
            position: absolute;
            z-index: 2;
        }
        .background {
            width: 100%;
            height: 100%;
            .overlay {
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.3);
                position: absolute;
                z-index: 1;
                .bgImg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    z-index: 0;
                }
            }
        }
    }
}
